{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Log-in</h1>
  {% if form.errors %}
    <p>
      Your username and password didn't match.
      Please try again.
    </p>
  {% else %}
    <p>Please, use the following form to log-in. If you don't have an account <a href="{% url "register" %}">register here</a></p>
  {% endif %}
  <div class="form-horizontal">
    <form action="{% url 'login' %}" method="post">
      {{ form|bootstrap_horizontal }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
    <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
  </div>
{% endblock %}
