{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>Reset your password</h1>
  {% if validlink %}
    <p>Please enter your new password twice:</p>
    <div class="form-horizontal">
      <form action="." method="post">
        {{ form|bootstrap_horizontal }}
        {% csrf_token %}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Change my password</button>
          </div>
        </div>
      </form>
    </div>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}
