{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>Forgotten your password?</h1>
  <p>Enter your e-mail address to obtain a new password.</p>
  <div class="form-horizontal">
    <form action="." method="post">
      {{ form|bootstrap_horizontal }}
      {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Send e-mail</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
