{% extends "base.html" %}
{% load divide %}
{% load multiply %}

{% block title %}
  Projects
{% endblock title %}


{% block content %}
  {% for project in projects %}
  <div class="row well">
    <div class="col-md-8">
      <h2><a href="{{ project.get_absolute_url }}">Name: {{ project.name }}<br></a></h2>
      <p>
        {{ project.short_description }} <br><br>
        Created at <strong>{{ project.created }}</strong> by <strong>{{ project.creator.username }}</strong>
      </p>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="{{ project.cover_image.url }}" alt="{{ project.slug }}" />
      <h4>Goal: {{ project.goal }}</h4>
      <h4>Amount Raised: {{ project.amountRaised }}</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
        aria-valuenow="{{ project.amountRaised | divide:project.goal | multiply:100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ project.amountRaised | divide:project.goal | multiply:100 }}%">
          {{ project.amountRaised | divide:project.goal | multiply:100 }}%
        </div>
      </div>
      {% if request.user == project.creator %}
      <a class="btn btn-info" role="button" href="{% url 'edit_project' slug=project.slug %}">Edit</a>
      <a class="btn btn-danger" role="button" href="{% url 'delete_project' slug=project.slug %}">Delete</a>
      {% endif %}
    </div>
  </div>
  <br>
  <br>
  {% endfor %}
  <div class="pagination">
      <span class="step-links">
          {% if projects.has_previous %}
              <a href="?page={{ projects.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
          </span>

          {% if projects.has_next %}
              <a href="?page={{ projects.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
{% endblock content %}
