{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Create a project{% endblock %}

{% block content %}
  <h1>Create a project</h1>
  <div class="form-horizontal">
    <form action="." method="post" enctype="multipart/form-data" novalidate>
      {{ form|bootstrap_horizontal }}
      {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Edit project</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
