{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Create an account{% endblock %}

{% block content %}
  <h1>Create an account</h1>
  <p>Please, sign up using the following form:</p>
  <div class="form-horizontal">
    <form action="." method="post">
      {{ user_form|bootstrap_horizontal }}
      {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Create my account</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
